* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.gifsContainer {
  max-width: 1200px;
  margin: 0 auto;
  column-count: 1;
  padding: 0;
}

.gifsContainer img {
  width: 100%;
  border-radius: .5em;
  margin: .1em 0;
 
}

.gifItem {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: .4em;
  opacity: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .25s ease;
  padding: .3em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.overlay2 {
  position: absolute;
  top: 0;
  opacity: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .25s ease;
  padding: 0.2em 0;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  text-align: right;
}

.overlay2 span {
  color: white;
  opacity: .5;
  transition: .25s ease;
  padding-right: .5em;
}

.overlay2 span:hover {
  opacity: 1;
}

.gifItem:hover .overlay, .gifItem:hover .overlay2 {
  opacity: 1;
}


@media (min-width: 500px) {

  .gifsContainer {
    column-count: 2;
  }
}
@media (min-width: 700px) {
  .gifsContainer {
    column-count: 3;
  }
}
@media (min-width: 1000px) {
  .gifsContainer {
    column-count:4;
  }
}

.loading-icon {
  font-size: 2em;
  margin: 3em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hideElement {
  visibility: hidden;
}
